@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
}
.bold {
    font-weight: bold;;
}

@media (min-width: 772px){ /* Other devices' version */
.mainMenuContainer{
    height:4rem;
    display:flex;
    flex-direction:row; 
    justify-content: space-around ;
    background-color: #ADD8E6;
    margin:0;
}
.mainMenu__title{
    display:flex;
    align-items: center;
}
.searchBar{
    display:flex;
    align-items: Center;
    width:15rem;
}
#inputBar{
    width:12rem;
    height:2rem;
}
#inputButton{
    height: 2rem;
}
#inputButton:hover{
    cursor:pointer;
}
#movieContainer{
    width:100%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.movieItem{
height: 25rem;
width: 20rem;
margin: 2rem;
padding:1rem;
display:flex;
flex-direction:column;
align-items:center;
background-color:#ADD8E6;
}
.movieImg{
    width:10rem;
    height:13rem;
}
.cardTitle {
    font-size:1.1rem;
    line-height: normal;
}
.movieSummary{
    font-size: 0.9rem;
}
.seeMore{
    background-color: #FFA07A;
    border:none;
    height:2rem;
    font-weight: bold;
    border-radius: 5%;
}
.seeMore::hover{
    cursor:pointer;
}
.popUp{
    height:30rem;
    width:50rem;
    position:fixed;
    background-color: #FFA07A;
    top:30vh;
    display:flex;
}
.popUpPart{
width:50%;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items: center;
}
.popUpImage{
    height:80%;
    width:70%;
}
.popUpLowerContent{
    height:auto;
    width:90%;
    display:flex;
}
.popUpLCPart{
    height:auto;
    width:50%;
    display:flex;
    justify-content:center;
    align-content:center;
    flex-direction: column;

}
.popUpInfo{
    margin:2%;
}
#closeButton{
    height:4%;
    position:absolute;
    top:2%;
    right:2%;

    
}
.popUpTitle{
    font-size:1rem;
}
}



@media (max-width: 772px){  /* mobile version */
#mainTitle {
    width:100%;
    text-align: center;
}
.mainMenuContainer{
    width:100%;
    margin:0;
}
.searchBar{
    display:flex;
    align-content:center;
    justify-content:center;
}
#inputBar{
    height:2rem;
    width:20rem;
} 
#inputButton{
    height:3rem;
}
#movieContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.movieItem {
    width:80vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 1rem;
    background-color:#ADD8E6;
}
.movieImg{
    width: 8rem;
}
.seeMore{
    background-color: #FFA07A;
    height:2rem;
    border:none;
    font-weight: bold;;}

    .popUp{
        width:97%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        position:fixed;
        top:10%;
        background-color: #FFA07A;
        text-align: center;
        
    }
    .popUpPart{
        display:flex;
        flex-direction:column;
        justify-content: center;

    }
    .popUpImage{
        width:40vw;
        align-self:center;
    }
    #closeButton{
     position:absolute;
     height:2rem;
     top:0;
     left:0;
    }

}

